%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
  {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "HEAD"}},
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse", "HEAD"}},
  {emongo,  ".*", {git, "git://github.com/master/emongo.git", "HEAD"}},
  {mochixpath,  ".*", {git, "git://github.com/JacobVorreuter/mochixpath.git", "HEAD"}}
  ]}.
%%{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
